<!-- login.html -->
{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <form class="form" method="post" action="." >{% csrf_token %}
        <div class='group'/>
            <label for='username'>Username</label><br/>
            <input type="text" name="username">

            <label for='email'>Email Address</label><br/>
            <input type="text" name="email">

            <label for='password1'>Password</label><br/>
            <input type="password" name="password1">

            <label for='password2'>Password(again)</label><br/>
            <input type="password" name="password2">              

            <button type="submit" value="Register">Register</button>
            <button type="button" onclick="window.location.href='/' ">Login</button>
        </div>
    </form>

{% endblock %}
