<!-- home.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}"
{% endblock %}
{% block content %}
    <h1> Welcome {{ user.username }} !!! </h1>
    <button type="button" onclick="window.location.href='/logout/' ">Logout</button>
    <br>
    <br>

    <div id='calculator'>
        <div class='top'>
		    <span class="clear">C</span>
		    <div class="screen"></div>
        </div>

        <div class="keys">
            <!-- operators and other keys -->
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span class="operator">+</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span class="operator">-</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span class="operator">/</span>
            <span>0</span>
            <span>.</span>
            <span class="eval">=</span>
            <span class="operator">x</span>
        </div>
    </div>   

{% endblock %}
